@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-container {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
  }

  .scroll-snap-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
